#container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.square {
    flex: 0 0 6.25%;
    width: 40px;
    aspect-ratio: 1 / 1;
}

.square:hover {
    background-color: darkkhaki;
}